/* Reset */
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
/* Reset */

 body {
    font-family: Arial, sans-serif;
    background-color: #f6f8f9;
  }

 header{
    height: 70px;
    background-color: white;
  }

 #logo-boolean {
    margin-left: 15px;
    height: 50px;
    width: 50px;
    line-height: 70px;
    vertical-align: middle;
    }

 header > span {
    font-size: 2rem;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    }

 main{
    width: 70%;
    margin: 30px auto;
    background-color: white;
    border-radius: 1%;
    height: 700px;
}

 #add-task{
    font-size: 0.8rem;
    color: white;
    background-color: #47adf1;
    border: 1px solid #d4d9dc;
    border-radius: 10%;
    padding: 5px;
    margin: auto;
    
}

 #add-section{
    font-size: 0.8rem;
    color: #d4d9dc;
    background-color: white;
    border: 1px solid #d4d9dc;
    border-radius: 10%;
    padding: 5px;
 }

 hr{ 
    margin: 30px 0;
    border: 1px solid #f6f8f9;
 }
 
 .goals::before {
     content: "\25BC";
     height: 5px;
 }

 .goals {
     color: #5f636a;
 }

 h3{display: inline-block;}

 